.wd-all-content-padded {
    padding-left: 16px;
}

.wd-explore-borders { 
    border-color: #333333; 
    border-width: 0.5px;
    border-style: solid;
    padding-left: 16px;
    height: 130px;
    justify-content: center;
    align-items: center;
}

.wd-explore-searchbar { 
    border-radius: 50px;
    height: 33px;
    width: 500px;
    color: white; 
    background-color: darkgrey;
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 16px;
    margin-right: 12px;
}

.wd-horizontal-center {
    margin: auto;
}

.wd-explore-tabs-bottom {
    margin-bottom: 16px;
}

.wd-explore-tabs-font {
    font-size: 15px;
    padding: 16px; 
}

.wd-selected-page-link { 
    color: #1DA1F2; 
    border-bottom: solid #1DA1F2;
    padding-bottom: 8px;
    border-bottom-width: 3px;
    text-decoration: none;
}

.wd-page-links { 
    color: #666666; 
    text-decoration: none;
}


.wd-item-topic-as-inline { 
    display: inline-block;
}

.wd-item-image { 
    margin-right: 16px;
    height: 100px;
    width: 100px;
    float: right;
    border-radius: 15px;
    align-items: center;
}

.wd-fldone {
    clear: both;
}