.wd-profile-avatar { 
    height: 48px;
    width: 48px;
    border-radius: 24px;
}

.wd-profile-avatar-left { 
    float: left;
    display: flex;
    flex-direction: left;
}

.wd-bookmark-tile {
    box-sizing: border-box;
    border: #333333 1px solid;
    padding-left: 16px;
    display: flex;
    margin-top: 0;
    padding-top: 12px;
}

.wd-bookmark-contents {
    flex: right;
    padding-left: 16px;
    width: 504px;

}

.wd-bookmark-headline {
    color: white; 
    font-size: 15px;
    margin-top: 6px;
}

.wd-bookmark-article-top {
    margin-top: 12px;
}

.wd-bookmark-article {
    border-radius: 20px;
    border: #333333 1px solid;
    margin-bottom: 0px;
    width: 504px;
}

.wd-bookmark-article-image {
    border-bottom: #333333 1px solid;
    width: 504px;
    height: 263px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.wd-bookmark-article-text {
    margin-top: 0;
    margin-bottom: 0px;
    max-width: 506px;
}

.wd-bookmark-article-subtext { 
    color: #666666; 
    font-size: 16px;
    margin-top: 1px;
}

.wd-bookmark-icon {
    margin-top: 12px;
    justify-content: space-evenly;
    display: flex;
}

.wd-bookmark-icon a {
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 15px;
    color: lightgray;
}

.wd-bookmark-icon i {
    padding-right: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    color: lightgray;
    font-size: 15px;
}

.wd-bookmark-icon .wd-bookmark-heart-icon {
    color: red;
}
.wd-bookmark-icon .fa-solid.fa-heart {
    color: red;
}
