.wd-tuiter-theme {
    background-color: black;
    border-color: rgb(47, 51, 54);
    font-family: Arial;
    padding-left: 16px;
}

.wd-vertical-centered {
    transform: translateY(-50%);
}

.wd-page-header-border {
    border: #666666 1px solid;
    padding-left: 16px;
}

.wd-page-header { 
    color: white; 
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 4px;
}

.wd-page-header-handle { 
    color: #666666; 
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 2px;
}

.wd-item-company { 
    color: white; 
    font-size: 14px;
    padding-top: 13px;
}

.wd-item-topic { 
    color: #666666; 
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 13px;
}

.wd-item-tweet-count { 
    color: #666666; 
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 3px;
}

.wd-item-person { 
    color: white; 
    font-size: 15px;
}

.wd-item-person-details { 
    color: #666666; 
    font-size: 15px;
    margin-bottom: 0;
}

.wd-item-title { 
    color: white; 
    font-size: 13px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 0;
}

.wd-item-subtitle { 
    color: #666666; 
    font-size: 16px;
}

.wd-floatleft { 
    display: inline;
}
